/*! Default */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(161, 161, 161);
    overflow: hidden;
}

.hidden{
    display: none;
}

/*! Basic Styling */

.toggle-switch {
    position: relative;
    display: inline-block;
    height: 95vh;
    width: 95vw;
}

.toggle-switch input {
    display: none;
}

.toggle-switch label {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 600px;
    height: 200px;
    border-radius: 200px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
  

.toggle-switch label:after {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    margin: 20px;
    background-color: #EFCD55;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    box-shadow: inset 0 0 15px 3px white;
    border-radius: 50%;
    transition: all 1s;
}
  

.toggle-switch input:checked + label:after {
    transform: translateX(400px);
    background-color: #C8CCD2;
}
  

label div {
    position: absolute;
}

/*! Day */

.day{
    width: 600px;
    height: 200px;
    z-index: -1;
}

.day-img-1{
    position: absolute;
    top: -50px;
    opacity: .6;
}

.day-img-2{
    position: absolute;
    top: -25px;
}


/*! NIGHT */


.stars{
    margin-left: 50px;
    margin-top: 20px;
    transform: translateY(-200px);
}

/*! Circles */

.circle{
    transition: all 1s;
}

.circles .circle2:nth-child(1){
    height: 250px;
    width: 250px;
    border-radius: 50%;
    top: -25px;
    z-index: -1;
}

.circles .circle2:nth-child(2){
    height: 450px;
    width: 450px;
    border-radius: 50%;
    top: -100px;
    left: -100px;
    z-index: -2;
}


.circles .circle2:nth-child(3){
    height: 650px;
    width: 650px;
    border-radius: 50%;
    top: -200px;
    left: -200px;
    z-index: -3;
}

.circles .circle2:nth-child(4){
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    top: -200px;
    left: -200px;
    z-index: -4;
}

.dayc1{
    background-color: #7BB4E9;
}

.dayc2{
    background-color: #6EACE7;
}

.dayc3{
    background-color: #60A4E5;
}

.dayc4{
    background-color: #5099E0;
}

.nightc1{
    background-color: #575963;
}

.nightc2{
    background-color: #464854;
}

.nightc3{
    background-color: #343643;
}

.nightc4{
    background-color: #202230;
}